<div class="sign_in_box">
  <h3>Sign in with your XMPP credentials</h3>
  <form action="/sign_in" method="post">
    <p>
      <input type="text" name="name" id="name" placeholder="Name" />
    </p>

    <p>
      <input type="password" name="password" id="password" placeholder="Password" />
    </p>

    <input type="submit" value="Sign in" class="submit" />
  </form>
</div>
